.navv li {
    transition: all linear .3s;
}

.navv a {
    margin: 0 5px 0 5px;
    border-radius: 0% !important;
}

.navv a:hover {
    background-color: rgba(255, 0, 0, 0.142) !important;
}
.navv a:focus {
    background-color: red !important;
    color: white !important;
}
.navv a.active {
    border-bottom: 2px solid red !important;
    background-color: white !important;
    color: red !important;
}