.bg {
    background-image: url(../../assets/images/4858794.jpg);
}

.reg a.active {
    border-bottom: 2px solid blue;
    color: blue;
    
}
.reg a:hover {
    background-color: rgb(164, 164, 240) !important;
}

.pass  {
    border: none;
    
}
.pass:active {
    border: none !important;
}

input:focus{
    outline: 0 !important;
}